@import url('./fonts/fonts.css'); 

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* link styles */

a {
  color: inherit;
  text-decoration: none;
}
/* box sizing */

*, *::before, *::after {
  box-sizing: border-box;
}

/* Global variables */

:root {
  --base-font-color: #565656;
  --menu-font-color: #aaaaaa;
  --contrast-font-color: #ffffff;
  --section-title-font-color: #2c82c9;
}

/* Body styles */

body {
  color: var(--base-font-color);
  font-family: Lato, sans-serif;
  font-weight: 400;
}

/* A11y */

.a11y {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
}

.header {
  position: relative;
  height: 100vh;
}

/*headerfloat flex grid*/
.navbar {
  display:flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
  z-index: 1000;
}

.hero {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: fade 24s infinite;
  background: #fff center / cover no-repeat;
}

.hero:nth-of-type(1) {
  background-image : url('./images/nature-1.jpeg');
  animation-delay: 16s;
}

.hero:nth-of-type(2) {
  background-image : url('./images/nature-2.jpeg');
  animation-delay: 8s;
}

.hero:nth-of-type(3) {
  background-image : url('./images/nature-3.jpeg');
}

.logo {
  color: var(--contrast-font-color);
  letter-spacing: 4px;
}

.logo a {
  display: block;
  padding: 32px 24px;
  font-size: 18px;
}

.menu-list{
  display:flex;
  justify-content: space-between;
  font-family: Lora;
}

.menu-item {
  min-width: 110px;
}

.menu-item a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 24px;
  text-align: center;
}

.menu-item a:hover, .menu-item a:focus {
  color: var(--contrast-font-color);
}

.title-wrapper{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  margin: 20px 0px;
  color: var(--contrast-font-color);
  text-align: center;
  letter-spacing: 1.6px;
}

.title{
  padding: 24px;
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  line-height: 1.6;
  text-transform: uppercase;
}

.paragraph {
  font-size: 12px;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  29.16666% {
    opacity: 1;
  }
  33.33333% {
    opacity: 0;
  }
  95.83333% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/**
  Backgorund auto changing animation
  이미지 갯수: n, 한 이미지 당 노출 시간: T, 트랜지션 시간: t이라고 하면,
  애니메이션 재생 시간(animation-duration) = nT,
  키프레임 구간 값: [0, ((T - t) / nT) * 100, (1 / n) * 100, ((nT - t) / nT) * 100, 100]
  (이때 키프레임 내 구간의 opacity 값은 순서대로 [1, 1, 0, 0, 1]),
  애니메이션 지연 시간은 순서대로 [T(n-1), T(n-2), T(n-3), ...]
*/


/*  */
.section{
  display: flex;
  max-width: 1170px;
  margin: 0 auto;
  padding: 48px 16px;
}

.section-title{
  flex-basis: 25%;
  padding: 12px;
  color: var(--section-title-font-color);
  font-family: 'Playflair Display';
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.section-content{
  flex-basis: 75%;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.8;
}

.definition-list{
  display: flex;
  flex-wrap: wrap;
}

.definition-item{
  margin-bottom: 4px;
}

.definition-item-title{
  flex-basis: 80px;
}

.definition-item-description{
  flex-basis: calc(100% - 80px);
}

.category-list{
  display: flex;
}

.category-item{
  flex-grow: 1;
}

.skill-item-title{
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.6;
}
